<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">

    <!-- Enable responsive viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link href="{{ ASSET_PATH }}/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ ASSET_PATH }}/css/style.css?body=1" rel="stylesheet" type="text/css" media="all">
    <link href="{{ ASSET_PATH }}/css/syntax.css" rel="stylesheet" type="text/css" media="all">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    
  <!-- Update these with your own images
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  -->

    <!-- atom & rss feed -->
    <link href="{{ BASE_PATH }}{{ site.JB.atom_path }}" type="application/atom+xml" rel="alternate" title="Sitewide ATOM Feed">
    <link href="{{ BASE_PATH }}{{ site.JB.rss_path }}" type="application/rss+xml" rel="alternate" title="Sitewide RSS Feed">

  </head>

  <body>
  	<div id="wrap">
		<div class="navbar navbar-default" role="navigation">
	        <div class="navbar-header">
	          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	            <span class="sr-only">Toggle navigation</span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
	          <a class="navbar-brand" href="/">{{ site.author.name }}</a>
	        </div>
	        <div class="navbar-collapse collapse">
	          <ul class="nav navbar-nav">
	            <li><a href="/">Home</a></li>
				<li><a href="/projects.html">Projects</a></li>
	            <li><a href="/archive.html">Archive</a></li>
	          </ul>
	          <ul class="nav navbar-nav navbar-right">
	          	<li><a href="http://facebook.com/a.urbano.a" title="This is a social network" style="color:#3b5998">
	          		<i class="fa fa-facebook fa-lg"></i></a></li>
				<li><a href="http://twitter.com/chevi_" title="Twitter [es]" style="color:#00aced">
					<i class="fa fa-twitter fa-lg"></i></a></li>
				<li><a href="http://www.linkedin.com/in/aurbano" title="Connect" style="color:#007bb6">
					<i class="fa fa-linkedin fa-lg"></i></a></li>
				<li><a href="http://youtube.com/argallaos" title="RC, trips and adventures" style="color:#bb0000">
					<i class="fa fa-youtube-play fa-lg"></i></a></li>
				<li><a href="https://github.com/aurbano" title="Fork me on Github!" style="color:#333">
					<i class="fa fa-github fa-lg"></i></a></li>
				<li><a href="/rss.xml" title="Follow RSS feed" style="color:#FF6600">
					<i class="fa fa-rss fa-lg"></i></a></li>
	          </ul>
	        </div><!--/.nav-collapse -->
      	</div>
	 <div class="container">
	  <div class="content">
        {{ content }}
      </div>
     </div>
      
    </div>
    <footer>
    	<div class="container">
	    	<p>&copy; {{ site.time | date: '%Y' }} {{ site.author.name }} &bull; Hosted on <a href="https://github.com/aurbano/aurbano.github.com">Github</a> &bull; Powered by <a href="http://jekyllrb.com/">Jekyll</a></p>
	    </div>
    </footer>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
	<script src="{{ ASSET_PATH }}/bootstrap/js/bootstrap.min.js"></script>
    {% include JB/analytics %}
  </body>
</html>
