<div class="navbar navbar-default" role="navigation">
    <div class="navbar-header"><a class="navbar-brand"></a></div>
    <div style="position:absolute; width:100%; top:0">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="container" style="padding-left:12%">
        <a class="navbar-brand" href="/">{{ site.author.name }}</a>
      </div>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
      	<li><a href="http://facebook.com/a.urbano.a" title="This is a social network" style="color:#3b5998">
      		<i class="fa fa-facebook fa-lg"></i></a></li>
		<li><a href="http://twitter.com/chevi_" title="Twitter [es]" style="color:#00aced">
			<i class="fa fa-twitter fa-lg"></i></a></li>
		<li><a href="http://www.linkedin.com/in/aurbano" title="Connect" style="color:#007bb6">
			<i class="fa fa-linkedin fa-lg"></i></a></li>
		<li><a href="http://youtube.com/argallaos" title="RC, trips and adventures" style="color:#bb0000">
			<i class="fa fa-youtube-play fa-lg"></i></a></li>
		<li><a href="https://github.com/aurbano" title="Fork me on Github!" style="color:#333">
			<i class="fa fa-github fa-lg"></i></a></li>
		<li><a href="/rss.xml" title="Follow RSS feed" style="color:#FF6600">
			<i class="fa fa-rss fa-lg"></i></a></li>
      </ul>
    </div><!--/.nav-collapse -->
</div>