<div class="page-header">
  <div class="row">
    <div class="col-md-3 text-center"><img src="{{ page.thumbnail }}" style="max-height:200px; max-width:200px" class="img-thumbnail img-responsive" alt="{{ post.title }}" /></div>
    <div class="col-md-9">
      <h1>{{ page.title }} {% if page.tagline %}<small>{{page.tagline}}</small>{% endif %}</h1>

      <div class="date">
        <span>{{ page.date | date_to_long_string }}</span>
      </div>
    </div>
  </div>
</div>

<div class="row post-full">
  <div class="col-md-12">
    <div class="content">
      {{ content }}
    </div>

  {% unless page.categories == empty %}
    <ul class="tag_box inline">
      <li><i class="glyphicon glyphicon-folder-open"></i></li>
      {% assign categories_list = page.categories %}
      {% include JB/categories_list %}
    </ul>
  {% endunless %}

    <hr />
    <div style="text-align:center">
      <ul class="pagination">
      {% if page.previous %}
        <li class="prev"><a href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; Previous</a></li>
      {% else %}
        <li class="prev disabled"><a>&larr; Previous</a></li>
      {% endif %}
        <li><a href="{{ BASE_PATH }}{{ site.JB.archive_path }}">Archive</a></li>
      {% if page.next %}
        <li class="next"><a href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">Next &rarr;</a></li>
      {% else %}
        <li class="next disabled"><a>Next &rarr;</a>
      {% endif %}
      </ul>
    </div>
    <hr>
    <div class="row">
    	{% include JB/comments %}
    </div>
  </div>
</div>
