<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="avatar">
    <img src="https://avatars3.githubusercontent.com/u/2827818?v=2&s=160">
  </div>
  <div class="sidebar-item">
    <p>Thougths, tutorials and hacks by Alejandro U. Alvarez</p>
  </div>

  <nav class="sidebar-nav">

    <a class="sidebar-nav-item" href="/">Home</a>

    <a class="sidebar-nav-item" href="/About">About</a>

    <a class="sidebar-nav-item" href="/Projects">Projects</a>

    <a class="sidebar-nav-item" href="/RC">RC</a>

    <a class="sidebar-nav-item" href="/Labs">Labs</a>

    <a class="sidebar-nav-item" href="/Archive">Archive</a>

  </nav>   

  <div class="sidebar-item">
    <p>
      &copy; 2014. All rights reserved.
    </p>
  </div>
</div>