[submodule "themes/minimal"]
	path = themes/minimal
	url = git@github.com:calintat/minimal.git
[submodule "assets/vendor/Gutenberg"]
	path = assets/vendor/Gutenberg
	url = git@github.com:matejlatin/Gutenberg.git
[submodule "assets/vendor/bootstrap"]
	path = assets/vendor/bootstrap
	url = git@github.com:twbs/bootstrap.git
