{{ partial "header" . }}

<main>
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col col-lg-8">
        <header>
          <h1>{{ .Title }}</h1>
          <h5 class="date text-muted">
            Some apps & websites I've worked on over the years
          </h5>
          {{ partial "tags" . }}
        </header>

        {{ range  sort .Pages "Params.year" "desc" }}
          <div class="card my-4 shadow">
            <img class="card-img-top" src='/assets/files/screenshots/{{ .Param "image" }}' alt="{{ .Title }}" />
            <div class="card-body">
              <h4 class="card-title">
                <a href="{{ .Param "link" }}">{{ .Title }}</a>
                <small>{{ .Param "year" }}</small>
              </h4>
              <p class="card-text">
                {{ .Content }}
              </p>
            </div>
            {{ if (.Param "offline") }}
              <div class="card-footer">
                <small class="text-danger">
                  Offline
                </small>
              </div>
            {{end}}
          </div>
        {{ end }}
        
      </div>
    </div>
  </div>
</main>

{{ partial "footer" . }}
