$hackernews: #ff4000;
$github: #333333;
$stackoverflow: #f48024;
$linkedin: #0077b5;

.text-github {
  &:hover {
    color: $github !important;
  }
}

.text-hacker-news {
  &:hover {
    color: $hackernews !important;
  }
}

.text-stack-overflow {
  &:hover {
    color: $stackoverflow !important;
  }
}

.text-linkedin {
  &:hover {
    color: $linkedin !important;
  }
}

.text-rss {
  &:hover {
    color: $orange !important;
  }
}
