$hackernews: #ff4000;
$github: #000;
$stackoverflow: #f48024;
$linkedin: #0077b5;
$twitter: #1DA1F2;

.text-github {
  color: $github !important;
}

.text-twitter {
  color: $twitter !important;
}

.text-hacker-news {
  color: $hackernews !important;
}

.text-stack-overflow {
  color: $stackoverflow !important;
}

.text-linkedin {
  color: $linkedin !important;
}

.text-rss {
  color: $orange !important;
}
