$code-horizontal-margin: -2rem;
$top-border-width: 0.5rem;
$background: #efefef;
$accent: #0070ff;

@import '../vendor/bootstrap/scss/functions';
@import '../vendor/bootstrap/scss/variables';
@import '../vendor/bootstrap/scss/mixins';
