@import 'variables';
@import 'animations';
@import 'brands';
@import "../vendor/bootstrap/scss/bootstrap";

html, body {
  height: 100%;
  font-size: 18px !important;
  background-color: $background;
}

body {
    display: flex;
    text-align: center;
    flex-direction: column;
}

div.border {
  height: $top-border-width;
  width: 100%;
  background-color: $accent;
  background-image: linear-gradient( 135deg, #FF9D6C 10%, #BB4E75 100%);
}

.animated-hue {
  animation: hue-animation 30s infinite;
}

header {
  margin-bottom: 2em;

  small {
    color: $text-muted;
  }
}

a.nav-link {
  position: relative;

  &:after {
    position: absolute;
    bottom: -0.5rem;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: ' ';
    color: transparent;
    background: scale-color($accent, $lightness: 60%);
    height: 0.25rem;
    transition: all ease-out 0.5s;
  }

  &:hover:after {
    width: 100%;
  }
}

main {
    margin: auto;
    padding: 25px;
    width: 100%;
    flex: 1;
    text-align: left;
    position: relative;
    z-index: 0;

    h1:first-child {
      border-bottom: solid $top-border-width $secondary;
      padding-bottom: 0.25em;
      margin-top: 1em;
      position: relative;

      small {
        text-transform: none;
        font-size: 0.8em;
        margin-left: 1em;
      }
    }

    h1, h2, h3, h4 {
      font-family: '{{ .Site.Params.font }}', sans-serif;
      color: $dark;

      .badge {
        font-family: initial;
        letter-spacing: 1px;
        font-weight: 200;
      }
    }

    .date {
      font-weight: normal;
    }

    &:before, &:after {
      content: ' ';
      display: block;
      width: 100vw;
      height: 30vw;
      background-color: fade-out(scale-color($accent, $lightness: 80%), 0.5);
      position: absolute;
      top: -20vw;
      z-index: -1;
    }

    &:before {
      transform: rotate(-45deg);
      left: -30vw;
    }

    &:after {
      transform: rotate(-70deg);
      left: -50vw;
    }
}

figure {
  border: solid 1px #ccc;
  padding: 5px 5px 0.5em;
  background: white;
  text-align: center;

  img {
    padding-bottom: 0.5em;
  }

  figcaption {
    padding: 0 1em;
    
    h4 {
      padding: 0;
      margin: 0;
      font-size: 0.8rem;
      font-family: inherit;
      font-weight: normal;
    }
  }
}

blockquote {
  padding: 0 1em;
  color: #6a737d;
  border-left: .25em solid #dfe2e5;
}

.embed {
  margin-bottom: 1em;
}

.highlight {
  margin: 2rem $code-horizontal-margin;

  pre {
    padding: 0;
    border-radius: 0.25rem;
    font-size: 0.8em;

    > code.hljs {
      padding-top: 1rem;
      padding-bottom: 1rem;
      padding-left: -$code-horizontal-margin;
      padding-right: -$code-horizontal-margin;
    }
  }
}

nav.navbar {
  z-index: 2;
}

.nav-menu {
  font-family: '{{ .Site.Params.font }}', sans-serif;
}

hr {
  border-top-color: #ccc;
  width: 40%;
}

img {
    max-width: 100%;
}

/* Homepage */

.intro {
    margin: auto;
    text-align: center;

    h1 {
      color: #212121;
      font-size: 12vh;
      border-bottom: none !important;
      margin-bottom: 0 !important;
      padding-bottom: 0 !important;
    }

    h2 {
      color: #757575;
      font-size: 3vmin;
    }
}

/* Page content */

.content {
    padding-top: 20px;
    font-size: 1rem;

    .caption {
      text-align: center;
      padding: 10px;
      font-size: 10pt;
      margin: 10px 0;

      img, iframe, canvas {
        padding: 5px;
        border: 1px solid 
        #ddd;
        margin-bottom: 15px;
        display: inline-block;
        border-radius: 5px;
    }
  }
}

/* Profile picture */

.profile {
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
}

/* Colored links */

a, a:link, a:visited {
  color: $accent;
}

.content {
  a, a:link, a:visited {
    color: $accent;
    text-shadow: 0 1px 1px #fff;
    box-shadow: inset 0 -.5em scale-color($accent, $lightness: 80%);
    transition: box-shadow .2s ease-in-out;
    text-decoration: none;
  
    &:hover {
      color: #000;
      box-shadow: inset 0 -1.2em 0 scale-color($pink, $lightness: 50%);
      text-shadow: none;
    }
  }
}

/* Paginator */

.pages {
    padding: 15px 0;
}

.pages-icon {
    padding: 0 15px;
}

/* List item for posts/projects */

.item {
    padding: 10px 0;
}

a.item-tag {
  font-size: 12px !important;
  padding: .3em .9em;
  margin: 0 .5em .5em 0;
  white-space: nowrap;
  background-color: #f1f8ff;
  border-radius: 3px;
  color: #0366d6;

  &:hover {
    text-decoration: none;
    background-color:#def;
    color: #0366d6 !important;
  }
}

footer {
    font-size: 0.8rem;
}
