@import 'variables';
@import 'animations';
@import 'brands';
@import "../vendor/bootstrap/scss/bootstrap";

html, body {
  height: 100%;
  font-size: 18px !important;
  background-color: $background;
}

body {
    display: flex;
    text-align: center;
    flex-direction: column;
}

div.border {
  height: $top-border-width;
  width: 100%;
  background-color: $accent;
  background-image: linear-gradient( 135deg, #FF9D6C 10%, #BB4E75 100%);
}

.animated-hue {
  animation: hue-animation 30s infinite;
}

header {
  margin-bottom: 2em;

  small {
    color: $text-muted;
  }
}

a.nav-link {
  position: relative;

  &:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: ' ';
    color: transparent;
    background: rgba($accent, 0.3);
    height: 0.25rem;
    transition: all ease-out 0.5s;
  }

  &:hover:after {
    width: 100%;
  }
}

main {
    margin: auto;
    padding: 25px;
    width: 100%;
    flex: 1;
    text-align: left;
    position: relative;
    z-index: 0;

    header {
      .edit {
        font-size: 0.8em;
        color: $gray-300;
      }
    }

    h1:first-child {
      border-bottom: solid $top-border-width $secondary;
      padding-bottom: 0.25em;
      margin-top: 1em;
      position: relative;
      margin-bottom: 0.25em;

      small {
        text-transform: none;
        font-size: 0.8em;
        margin-left: 1em;
      }
    }

    h1, h2, h3, h4 {
      font-family: '{{ .Site.Params.font }}', sans-serif;
      margin-top: 1.5em;
      margin-bottom: 0.75em;

      .badge {
        font-family: initial;
        letter-spacing: 1px;
        font-weight: 200;
      }
    }

    .date {
      font-weight: normal;
    }

    &:before, &:after {
      content: ' ';
      display: block;
      width: 100vw;
      height: 30vw;
      background-color: rgba($accent, 0.1);
      position: absolute;
      top: -20vw;
      z-index: -1;
    }

    &:before {
      transform: rotate(-45deg);
      left: -30vw;
    }

    &:after {
      transform: rotate(-70deg);
      left: -50vw;
    }
}

figure {
  text-align: center;

  img {
    padding-bottom: 0.5em;
  }

  figcaption {
    padding: 0 1em;
    
    h4 {
      padding: 0;
      margin: 0;
      font-size: 0.8rem;
      font-family: inherit;
      font-weight: normal;
    }
  }
}

blockquote {
  padding: 0 1em;
  border-left: .25em solid #dfe2e5;
}

.embed {
  margin-bottom: 1em;
}

nav.navbar {
  z-index: 2;
}

.nav-menu {
  font-family: '{{ .Site.Params.font }}', sans-serif;
}

.social-icons {
  background: $gray-400;
  border-radius: 0.5em;
}

hr {
  border-top-color: #ccc;
  width: 40%;
}

img {
    max-width: 100%;
}

.row.images {
  text-align: center;
  font-size: 0.9em;
  margin: 2em 0 1em;
  color: #666;

  & > div {
    vertical-align: top;
    margin-bottom: 1em;

    img {
      display: block;
      margin-bottom: 0.5em;
      padding: 1px;
    }
  }
}

/* Homepage */

.intro {
    margin: auto;
    text-align: center;

    h1 {
      font-size: 12vh;
      border-bottom: none !important;
      margin-bottom: 0 !important;
      padding-bottom: 0 !important;
    }

    h2 {
      font-size: 3vmin;
    }
}

/* Page content */

.content {
    padding-top: 20px;
    font-size: 1rem;

    .caption {
      text-align: center;
      padding: 10px;
      font-size: 10pt;
      margin: 10px 0;

      img, iframe, canvas {
        padding: 5px;
        border: 1px solid 
        #ddd;
        margin-bottom: 15px;
        display: inline-block;
        border-radius: 5px;
    }
  }
}

/* Profile picture */

.profile {
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
}

.content {
  p > code {
    padding: .2em .4em;
    margin: 0;
    font-size: 0.8em;
    background-color:rgba(27,31,35,.05);
    border-radius: 3px;
    color: scale-color($pink, $lightness: -10%)
  }

  .cp_embed_wrapper {
    margin: 2rem $code-horizontal-margin;
    border-radius: 0.25rem;
  }

  pre {
    padding: 0;
    border-radius: 0.25rem;
    font-size: 0.8em;
    margin: 2rem $code-horizontal-margin;

    > code {
      padding-top: 1rem;
      padding-bottom: 1rem;
      padding-left: -$code-horizontal-margin;
      padding-right: -$code-horizontal-margin;
      border-left: solid #fb306e 5px;
    }
  }

  a, a:link, a:visited {
    color: $accent;
    text-shadow: 0 1px 1px $primary;
    box-shadow: inset 0 -.5em rgba($accent, 0.2);
    transition: box-shadow .25s ease-in-out;
    text-decoration: none;
  
    &:hover {
      box-shadow: inset 0 -1.2em 0 rgba($accent, 0.2);
      text-decoration: underline;
    }
  }
}

/* Paginator */

.pages {
    padding: 1em 0;
}

.pages-icon {
    padding: 0 15px;
}

/* List item for posts/projects */

.item {
    padding: 10px 0;
}

a.item-tag {
  font-size: 12px !important;
  padding: .3em .9em;
  margin: 0 .5em .5em 0;
  white-space: nowrap;
  background-color: $gray-400;
  border-radius: 3px;
  color: $accent;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  transition: all 0.25s ease-in-out;

  &:hover {
    text-decoration: none;
    background-color: $accent;
    color: $gray-800;
  }
}

.related {
  margin-top: 4em;
  margin-bottom: 1em;
}

footer {
    font-size: 0.8rem;
    margin-top: 1em;
}

.alert-warning {
  color: $primary;
  background: rgba($accent, 0.7);
  border: none;
  box-shadow: 0 0.25em 0.5em rgba($primary, 0.5);
}
