{{ partial "header" . }}

<main>
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col col-lg-8">
        <header>
          <h1>{{ .Title }}</h1>
          <div class="row">
            <div class="col">
              <small class="date text-muted">
                Published on {{ .Date.Format (.Site.Params.dateFormat | default "January 2, 2006") }}
              </small>
              {{ partial "tags" . }}
            </div>
            <div class="col-2 text-right">
              <a href="{{ .Site.Params.repo }}/blob/master/content/{{ .File.Path }}" class="edit" title="Open this post on Github">
                <i class="fa fa-pencil"></i>
              </a>
            </div>
          </div>
        </header>

        {{ if (.Param "outdated") }}
          <div class="alert alert-warning mt-4" role="alert">
            <b>Here be dragons!</b> <br>
            I wrote this ages ago and is now outdated. Time flies!
          </div>
        {{end}}

        <div align="start" class="content">
          {{ .Content }}
        </div>

        <!-- Related posts -->
        {{ $related := first 3 (where (where (where .Site.Pages.ByDate.Reverse ".Type" "==" "post") ".Params.tags" "intersect" .Params.tags) "Permalink" "!=" .Permalink) }}
        {{ if $related }}
          <div class="card related shadow">
            <div class="card-body">
              <h5 class="card-title">More like this:</h5>
              {{ range $related }} {{ partial "list-item" . }} {{ end }}
            </div>
          </div>
        {{ end }}
      </div>
    </div>
  </div>
</main>

{{ partial "footer" . }}
