        <footer>
            <p class="copyright text-muted">
              Alejandro U. Alvarez
              {{ .Site.Params.copyright | default "&copy; All rights reserved." | markdownify }}
              &bull;
              <a href="/index.xml">
                RSS
              </a>
              &bull;
              <a href="/categories">
                Categories
              </a>
              &bull;
              <a href="/tags">
                Tags
              </a>
            </p>
        </footer>

        <div class="border animated-hue"></div>

        {{ partial "body-close" . }}

        {{ partial "js" . }}
        
    </body>

</html>
