<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    {{ partial "head-open" . }}
    <meta charset="utf-8">
    <title>{{ .Title }}</title>
    <meta name="description" content="A blog by Alejandro U. Alvarez on programming and humans" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />

    <meta property="og:site_name" content="Alejandro U. Alvarez - Blog" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="{{ .Title }}" />
    <meta property="og:description" content="{{ .Summary }}" />
    <meta property="og:url" content="{{ .Permalink }}" />
    <meta property="article:published_time" content="{{ .PublishDate }}" />
    <meta property="article:modified_time" content="{{ .Lastmod }}" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="{{ .Title }}" />
    <meta name="twitter:description" content="{{ .Summary }}" />
    <meta name="twitter:url" content="{{ .Permalink }}" />
    <meta name="twitter:label1" content="Written by" />
    <meta name="twitter:data1" content="Alejandro U. Alvarez" />

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-BYFMFK4EX1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-BYFMFK4EX1');
    </script>

    {{ if .Site.Params.favicon }}
        <link rel="icon" href="{{ .Site.Params.favicon | absURL }}">
    {{ end }}

    {{ partial "css" . }}

    {{ with .OutputFormats.Get "RSS" }}
        <link href="{{ .RelPermalink }}" rel="alternate" type="{{ .MediaType.Type }}" title="{{ $.Site.Title }}" />
        <link href="{{ .RelPermalink }}" rel="feed" type="{{ .MediaType.Type }}" title="{{ $.Site.Title }}" />
    {{ end }}

    {{ range .AlternativeOutputFormats -}}
      <link href="{{ .Permalink | safeURL }}" rel="{{ .Rel }}" type="{{ .MediaType.Type }}" />
    {{ end -}}

    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>

    {{ partial "head-close" . }}
  </head>
