<article class="list-item">
    {{ $.Scratch.Set "link" .RelPermalink }}
    {{ with .Params.repo }}
        {{ $repoHost := default "github" $.Params.repoHost }}
        {{ if eq "github" $repoHost }}
            {{ printf "https://github.com/%s/%s/" $.Site.Params.githubUsername . | $.Scratch.Set "link" }}
        {{ else if eq "gitlab" $repoHost }}
            {{ printf "https://gitlab.com/%s/%s/" $.Site.Params.gitlabUsername . | $.Scratch.Set "link" }}
        {{ else if eq "bitbucket" $repoHost }}
            {{ printf "https://bitbucket.org/%s/%s/" $.Site.Params.bitbucketUsername . | $.Scratch.Set "link" }}
        {{ end }}
    {{ end }}
    {{ with .Params.link }} {{ $.Scratch.Set "link" . }} {{ end }}

    <div class="flex items-start justify-between gap-4">
      <div class="flex-1">
        <h6>
          <a href="{{ .Scratch.Get "link" }}" class="text-magazine-black hover:text-magazine-accent transition-colors">
            {{ .Title }}
          </a>
        </h6>

        <p class="text-magazine-black/60 mt-2">{{ .Description }}</p>

        {{ if .Params.tags }}
        <div class="flex flex-wrap gap-2 mt-3">
          {{ range first 3 .Params.tags }}
          <span class="inline-block px-3 py-1 text-xs font-medium bg-magazine-black/5 rounded-full">
            {{ . }}
          </span>
          {{ end }}
        </div>
        {{ end }}
      </div>

      <div class="text-right flex-shrink-0">
        <time class="inline-block px-3 py-1 text-sm font-bold bg-magazine-accent text-magazine-white rounded-full">
          {{ .Date.Format "Jan 2006" }}
        </time>
      </div>
    </div>
</article>
