.highlight  { tab-size: 4}
.highlight .c { color: #999988 !important; font-style: italic } /* Comment */
.highlight .err { color: #FF4255 !important; } /* Error */
.highlight .k { color:#2EFF96 !important; font-weight: bold } /* Keyword */
.highlight .o { color: #fff !important; font-weight: bold } /* Operator */
.highlight .cm { color: #FF9100 !important; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #FF9100 !important; font-weight: bold } /* Comment.Preproc */
.highlight .c1 { color: #FF9100 !important; font-style: italic } /* Comment.Single */
.highlight .cs { color: #FFBF00 !important; font-weight: bold; font-style: italic } /* Comment.Special */
.highlight .gd { color: #fff !important; background-color: #ffdddd } /* Generic.Deleted */
.highlight .gd .x { color: #000000 !important; background-color: #ffaaaa } /* Generic.Deleted.Specific */
.highlight .ge { color: #fff !important; font-style: italic } /* Generic.Emph */
.highlight .gr { color: #FF4255 !important } /* Generic.Error */
.highlight .gh { color: #999999 !important } /* Generic.Heading */
.highlight .gi { color: #fff !important; background-color: #ddffdd } /* Generic.Inserted */
.highlight .gi .x { color: #fff !important; background-color: #aaffaa } /* Generic.Inserted.Specific */
.highlight .go { color: #888888 !important } /* Generic.Output */
.highlight .gp { color: #F5BB7D !important } /* Generic.Prompt */
.highlight .gs { color: #fff !important; font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #aaaaaa !important } /* Generic.Subheading */
.highlight .gt { color: #FF4255 !important } /* Generic.Traceback */
.highlight .kc { color: #fff !important; font-weight: bold } /* Keyword.Constant */
.highlight .kd { color:#FFF3A3 !important; font-weight: bold } /* Keyword.Declaration */
.highlight .kp { color: #fff !important; font-weight: bold } /* Keyword.Pseudo */
.highlight .kr { color: #fff !important; font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #445588 !important; font-weight: bold } /* Keyword.Type */
.highlight .m { color: #FF1C37 !important } /* Literal.Number */
.highlight .s { color: #FDA8BD !important } /* Literal.String */
.highlight .na { color: #A2FCD8 !important } /* Name.Attribute */
.highlight .nb { color: #2EA8FF !important } /* Name.Builtin */
.highlight .nc { color: #42F2FF !important; font-weight: bold } /* Name.Class */
.highlight .no { color: #FFF83B !important } /* Name.Constant */
.highlight .ni { color: #FF9EF4 !important } /* Name.Entity */
.highlight .ne { color: #FF7733 !important; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #FF7733 !important; font-weight: bold } /* Name.Function */
.highlight .nn { color: #DBDBDB !important } /* Name.Namespace */
.highlight .nt { color: #299FFF !important } /* Name.Tag */
.highlight .nv { color: #8FFFDF !important } /* Name.Variable */
.highlight .nx { color: #fff !important } /* Name.Variable */
.highlight .ow { color: #fff !important; font-weight: bold } /* Operator.Word */
.highlight .w { color: #bbbbbb !important } /* Text.Whitespace */
.highlight .mf { color: #FF1C37 !important } /* Literal.Number.Float */
.highlight .mh { color: #009999 !important } /* Literal.Number.Hex */
.highlight .mi { color: #FF1C37 !important } /* Literal.Number.Integer */
.highlight .mo { color: #009999 !important } /* Literal.Number.Oct */
.highlight .sb { color: #d14 !important } /* Literal.String.Backtick */
.highlight .sc { color: #d14 !important } /* Literal.String.Char */
.highlight .sd { color: #d14 !important } /* Literal.String.Doc */
.highlight .s2 { color: #FFB5C1 !important } /* Literal.String.Double */
.highlight .se { color: #d14 !important } /* Literal.String.Escape */
.highlight .sh { color: #d14 !important } /* Literal.String.Heredoc */
.highlight .si { color: #FFB5C1 !important } /* Literal.String.Interpol */
.highlight .sx { color: #FFB5C1 !important } /* Literal.String.Other */
.highlight .sr { color: #009926 !important } /* Literal.String.Regex */
.highlight .s1 { color: #FFB5C1 !important } /* Literal.String.Single */
.highlight .ss { color: #990073 !important } /* Literal.String.Symbol */
.highlight .bp { color: #999999 !important } /* Name.Builtin.Pseudo */
.highlight .vc { color: #8FFFDF !important } /* Name.Variable.Class */
.highlight .vg { color: #8FFFDF !important } /* Name.Variable.Global */
.highlight .vi { color: #8FFFDF !important } /* Name.Variable.Instance */
.highlight .il { color: #8FFFDF !important } /* Literal.Number.Integer.Long */
